{if new Nette\DateTime() < $from || new Nette\DateTime() > $to}
	<p>Momentálně neprobíhá registrace. Pokud však chcete být informováni o otevření registrace, neváhejte nám poslat e-mail na adresu <a class="link" href="mailto:scienceslam@muni.cz">scienceslam@muni.cz</a>.</p>
{else}
	{include ../../templates/flashes.latte}
	{control form}
{/if}