form {
	margin-top: 20px;
	margin-bottom: 20px;
}
form dd {
	margin-left: 0px;
}
form dl {
	margin-top: 15px;
}
input[type='text'],
input[type='password'],
textarea {
	padding: 5px;
	border: 2px solid #E0E0E0;
	border-radius: 5px;
	background: white;
	margin: 5px;
	font-size: 100%;
}

input[type='text']:focus,
input[type='password']:focus,
textarea:focus {
	outline: none;
	border: 2px solid #FFCC00;
	box-shadow: 0px 0px 5px #FFCC00;
}
fieldset {
	border: 0px;
	background: #F2F2F2;
	border-radius: 5px;
	margin-bottom: 20px;
	width: 590px;
}
legend {
	background: #E0E0E0;
	font-weight: bold;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 5px;
}

form span.block-description {
	display: block;
	clear: both;
	margin-left: 5px;
	font-size: 90%;
}

div.flash {
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	font-weight: bold;
	border-radius: 10px;
}

div.info {
	background: rgb(205, 213, 235);
}

div.success {
	background: rgb(194, 224, 182);
}

div.error, ul.error {
	background: rgb(242, 225, 225);
}

ul.error {
	list-style: none;
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	font-weight: bold;
	border-radius: 10px;
}
