/* Science Slam stylesheet
used colors:
	blue: rgb(0,39,118)
	black: rgb(42,42,42)
	yellow: rgb(255,220,19)
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800&subset=latin,latin-ext);
@import url(form.css);

body {
	font-family: 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	color: rgb(42,42,42);
	background-color: rgb(248,248,248);
	text-align: left;
	margin: 0;
	padding: 0;
	height: 100%;
	background-image: url("../images/design/background.png");
	background-repeat: repeat;
}
body.no-scroll { height: 100%; overflow:hidden; }

.cleaner {
	clear: both;
	height: 0;
	overflow: hidden;
}

.root {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.contents-text { padding: 0 10px 0 10px; }
.contents { margin: 0 auto 0 auto; width: 640px; }
.video { height: 342px; width: 608px; margin: 10px 0 0 0; }

.header {
	position: relative;
	border-style: solid;
	border-color: rgb(255,220,19);
	border-width: 10px 0 0 0;
	background: url("../images/design/gradient-top.png");
	height: 230px;
}

.main {
	position: relative;
	margin-bottom: 150px;
}

.footer {
	border-style: solid;
	border-color: rgb(255,220,19);
	border-width: 0 0 20px 0;
	background: url("../images/design/gradient-bottom.png");
	position: absolute;
	height: 130px;
	bottom: 0;
	left: 0;
	right: 0;
	width: auto;
}

.header-logo {
	display: block;
	height: 150px;
	width: 150px;
	margin: 40px 40px 40px 10px;
	position: relative;
	background: url("../images/design/logo2.png");
}
.header-logo:hover { background-position: 150px 0; }

.header-menu {
	margin: 40px 0 40px 0;
	padding: 0;
	text-align: left;
	position: relative;
}

.header-lamp {
	height: 0;
	width: 400px;
	overflow: visible;
	position: relative;
	z-index: -1;
}

.header-lamp-image {
	width: 121px;
	height: 250px;
	position: relative;
	left: 270px;
	top: -50px;
}

.header-claim {
	margin: 110px 120px 30px 10px;
	height: 40px;
	font-size: 14pt;
	text-align: right;
}

.footer-text {
	width: 300px;
	margin: 20px 15px 20px 10px;
	text-align: right;
	position: relative;
	bottom: 0px;
}

.footer-logo {
	clear: right;
	width: 400px;
	margin-left: 10px;
	position: relative;
	left: 0px;
	bottom: 100px;
	z-index: 2;
}

.footer-logo-text {
	font-size: 14pt;
	position: relative;
	bottom: 0px;
	left: 0px;
}

.footer-munilogo-image {
	margin: 10px 10px 10px 0px;
	height: 49px;
	width: 200px;
	bottom: 50px;
}

.footer-social {
	margin-right: 0;
	float: right;
	height: 50px;
	width: 50px;
}

.footer-social:hover {
	opacity: 0.8;
}

@media only screen and (min-width: 1000px) {
	.contents { width: 960px; }
	body { text-align: justify; }
}

@media only screen and (min-width: 1320px) {
	.contents { width: 1280px; }
	.video { height: 522px; width: 928px; }
}

.menu-ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu-ul a {
	border-style: solid;
	border-color: rgb(0,39,118);
	border-width: 0 0 0 5px;
	padding: 0 0 0 10px;
	margin: 1px 0 1px 0;
	color: rgb(0,39,118);
	height: 36px;
	line-height: 36px;
	font-size: 14pt;
	font-weight: 800;
	display: block;
}

.menu-ul a:hover {
	border-color: rgb(255,220,19);
	text-decoration: none;
}

.block_link {
	position: absolute;
}

.block_2x1 {
	position: relative;
	display: block;
	width: 620px;
	height: 300px;
	margin: 10px;
	background-color: rgb(224,224,224);
	background-position: 0 0;
}

.block_1x1 {
	position: relative;
	display: block;
	width: 300px;
	height: 300px;
	margin: 10px;
	background-color: rgb(224,224,224);
	background-position: 0 0;
}

.block_1x1_halves {
	position: relative;
	display: block;
	width: 300px;
	height: 300px;
	margin: 10px;
	background: none;
	text-align: center;
}
.block_1x1_halves h1 { margin: 0; }

.block_1x1:hover { background-position: 300px 0; }
.block_2x1:hover { background-position: 620px 0; }

.left { float: left; }
.right{ float: right; }
.back_2x1_c { background: url("../images/design/block_2x1_c.png"); }
.back_1x1_a { background: url("../images/design/block_1x1_a.png"); }
.back_1x1_b { background: url("../images/design/block_1x1_b.png"); }
.back_1x1_c { background: url("../images/design/block_1x1_c.png"); }

.sub-block_half1 {
	display: block;
	background-color: rgb(224,224,224);
	background: url("../images/design/block_1x05_a.png");
	height: 90px;
	width: 260px;
	padding: 30px 20px 20px 20px;
}
.sub-block_half1:hover { background-position: 300px 0; }

.sub-block_half2 {
	display: block;
	background-color: rgb(224,224,224);
	background: url("../images/design/block_1x05_b.png");
	height: 90px;
	width: 260px;
	padding: 30px 20px 20px 20px;
	margin-top: 20px;
}
.sub-block_half2:hover { background-position: 300px 0; }

.bold { font-weight: 800; }
.center { text-align: center; }

a {
	text-decoration: none;
	color: rgb(42,42,42);
}

.link { color: rgb(0,39,118); }
.link:hover { text-decoration: underline; }

.footer a:hover { text-decoration: underline; }


a img { border: none; }
h1, h2, h3 { color: rgb(0,39,118); font-weight: 800; }
h1 { font-size: 175%; margin: 0 0 0.5em 0; }
h2 { font-size: 125%; margin: 1em 0 0.5em 0; }
h3 { font-size: 125%; margin: 0; }
p { margin: 0.5em 0 0.5em 0; }

.image_right {
	float: right;
	width: 300px;
	height: 300px;
	margin: 10px 10px 10px 30px;
}

.clear { clear: right; }

.wide-text-block {
	max-width: 1280px;
	margin: 10px;
}

.sub-block_picture {
	display: block;
	height: 50px;
	width: 260px;
	padding: 20px;
	margin-top: 210px;
	background-color: rgba(255,255,255,0.6);
}

.block_1x1:hover .sub-block_picture { background-color: rgba(255,255,255,0.8); }
.sub-block_2x1_text {
	display: block;
	height: 260px;
	width: 580px;
	padding: 20px;
}
.sub-block_1x1_text {
	display: block;
	height: 260px;
	width: 260px;
	padding: 20px;
}

.block_1x1_add_block {
	opacity: 0.5;
}
.block_1x1_add_block:hover {
	opacity: 1;
}
.sub-block_1x1_add_block {
	display: block;
	height: 260px;
	width: 260px;
	padding: 20px;
	font-size: 500%;
	color: black;
	text-align: center;
	line-height: 260px;
}
.block_hidden {
	background: red;
}
.block_visible {
	background: green;
}
.block_options {
	position: absolute;
	background-color: #CCC;
	opacity: 1;
	width: 180px;
	left: 60px;
	height: 30px;
	z-index: 1000;
}
.block_options a {
	width: 30px;
	float: left;
	text-align: center;
	line-height: 30px;
	height: 30px;
	display: inline-block;
}
.block_options a.weight {
	font-size: 75%;
}
.block_options a:hover {
	background-color: rgb(255,220,19);
}
.block_options:hover {
	opacity: 1;
}

.margin-top { margin-top: 30px; }

.button {
	margin-top: 10px;
	border: none;
	display: block;
	height: 50px;
	width: 200px;
	text-align: center;
	background-color: rgb(0,39,118);
	color: rgb(242,242,242);
	font-size: 120%;
	font-weight: 800;
	line-height: 50px;
	margin-bottom: 10px;
	cursor: pointer;
	float: left;
	margin-right: 10px;
}
.button:hover { color: rgb(255,220,19); }

.button-gray {
	background-color: rgb(224,224,224);
	color: black;
}
.button-gray:hover {
	background-color: rgb(0,39,118);
}

ul.gallery { position: relative; left: -10px; text-align: left; padding: 0; margin: 0; }
ul.gallery>li { display: inline-block; }

.new-gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	/* Grid is not supported in IE, therefore we use flexbox */
	display: -ms-flexbox;
	-ms-flex-wrap: wrap;
	-ms-flex-align: start;
}

.new-gallery>div {
	display: block;
	background-color: rgb(224,224,224);
	text-align: center;
	margin: 0 4px 4px 0;
}

.new-gallery>div:hover {
	background-color: rgb(255,220,19);
}

.new-gallery>div>a {
	display: block;
}

.new-gallery>div>a>img {
	margin: 8px 4px;
	max-width: calc(100% - 8px);
	max-height: calc(100% - 16px);
	object-fit: cover;
}

ul.spaced>li, ol.spaced>li { margin: 0.5em 0 0.5em 0; }

img { margin: 10px; }
img.gallery-item { height: 200px; margin: 10px; }
.center-block { display: block; margin-left: auto; margin-right: auto; }

/* Administration styles */

table.admin-grid {
	width: 100%;
	border-collapse: collapse;
}
table.admin-grid td,
table.admin-grid th {
	padding: 5px;
}
table.admin-grid th {
	background: #CCC;
}
table.admin-grid td.admin-grid-actions,
table.admin-grid th.admin-grid-actions {
	text-align: center;
}
a.admin-door {
	background: rgb(204, 204, 204) url('../images/design/settings.png') no-repeat center center;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 0px;
	right: 0px;
	display: block;
	z-index: 1000;
}
.admin-menu {
	margin-top: 30px;
}
.admin-menu li {
	list-style: none;
	float: left;
	margin-right: 20px;
	margin-bottom: 10px;
}
.admin-menu li a,
.help-button {
	cursor: pointer;
	padding: 10px;
	display: inline-block;
	background-color: rgb(224,224,224);
}
.admin-menu li a:hover,
.help-button:hover {
	background-color: rgb(0,39,118);
	color: white;
}
.admin-menu ul {
	padding-left: 0px;
}

.help-block {
	background-color: rgb(224,224,224);
	padding: 10px;
}

/* Files management */
table.files { width: 100%; margin-bottom: 50px; border-collapse: collapse; }
table.files th { background: rgb(222,222,222); padding: 3px; }
table.files td { border-top: 1px solid rgb(222,222,222); padding: 3px; }
table.files td a { margin-right: 20px; }

.line-pre { font-family: monospace; white-space: pre; }

/* Preview files */
div.preview-window { display: none; position: fixed; top: 0; left: 0; bottom: 0; right: 0; background: rgba(0,0,0,0.85); padding: 20px; z-index: 1000; }
div.preview-window button { position: fixed;  right: 20px; margin-top: 0px; }
iframe.preview-pane { height: 100%; width: 100%; box-sizing: border-box; background: rgb(224,224,224); resize: both; overflow: auto; border: 0; }
iframe.page-preview-pane { min-height: 400px; width: 100%; resize: vertical; overflow: auto; border: 3px solid rgb(222,222,222); }

/* Modificators for Texy */
.no-margin { margin: 0; }

/* MagnificPopup overrides */
.mfp-iframe-scaler iframe { background: white !important; }
