log/*
temp/*
!temp/sessions/.keep
libs/*

.DS_Store
!.gitignore
!.htaccess
!web.config
app/config/config.local.neon

.bash_history
.ssh/
.viminfo
.idea
.bashrc
.mc/
.composer/
.mysql_history
.local/
.config/
.gitconfig
.lesshst/
.cache/