# Logs and temporaries
log/*
temp/*
!temp/sessions/.keep
libs/*

images/*
!images/design/

.DS_Store
!.gitignore
!.htaccess
!web.config

# Local configuration (includes credentials!)
app/config/config.local.neon

# Google Search console verification file
google*.html

# Dashboard notes
data/dashboard.texy

# Standard unix home files and directories
.bash_history
.bash_profile
.ssh/
.viminfo
.idea
.bashrc
.mc/
.composer/
.mysql_history
.local/
.config/
.gitconfig
.lesshst
.cache/
