#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
	security:
		salt: Sh7ihCZNxkwjGblcHT2eCTjNglHezbahvrfOJaWmE
	page:
		title: Science slam
		keywords: "Science slam, věda, výzkum, osvětlujeme vědu, jak se dělá věda, co se zkoumá"
		description: "Science slam je projekt Masarykovy univerzity, jehož cílem je osvětlit probíhající výzkum lidem."
	mails:
		noreply: noreply@dispostable.com
	form:
		signup:
			mail: []
	uploads:
		dirs: [images]
	facebook:
		analytics:
	google:
		analytics:

	database:
		driver: mysql
		host: localhost
		database: scienceslam
		username: root
		password:

decorator:
	BasePresenter:
		setup:
			- $facebookAnalytics(%facebook.analytics%)
			- $googleAnalytics(%google.analytics%)

php:
	date.timezone: Europe/Prague
	# zlib.output_compression: yes

nette:
	application:
		errorPresenter: Error

	database:
		dsn: '%database.driver%:host=%database.host%;dbname=%database.database%'
		user: %database.username%
		password: %database.password%

	session:
		save_path: "%tempDir%/sessions"
		expiration: 14 days
		autoStart: true

mail:
	smtp: true
	host:
	port: 25
	username:
	password:
	secure: tls

services:
	userDAO: Muni\ScienceSlam\Model\User
	eventDAO: Muni\ScienceSlam\Model\Event
	pageDAO: Muni\ScienceSlam\Model\Page
	blockDAO: Muni\ScienceSlam\Model\Block
	authenticator: \Muni\ScienceSlam\Model\Authenticator(@userDAO, %security.salt%)
	authorizator: \Muni\ScienceSlam\Model\Authorizator
	routerFactory: RouterFactory
	router: @routerFactory::createRouter
	signupFormFactory: ISignupFormFactory
	texyFactory: Muni\ScienceSlam\Utils\TexyFactory
	previewStorage: Muni\ScienceSlam\Utils\PreviewStorage
