{var $pageTitle = "Přidat blok"}
{var $robots = noindex}

{block #content}

    {ifset $previewToken}
        <h2>Náhled stránky</h2>
        <iframe src="{plink Page:preview, $previewToken}" class="page-preview-pane"></iframe>
    {/ifset}

    <h1>Přidat blok</h1>
    {control addForm}
{/block}