{var $pageTitle = "Registrace soutěžících"}
{block content}

{if isset($page) && $page !== false}
	{!$page->content}
{/if}

<div class="wide-text-block">
	{control signup}
</div>

{include ../admin-menu.latte}

<div class="cleaner">&nbsp;</div>
{/block}
