{var $pageTitle = "Registrace soutěžících"}
{block content}
<img src="{$basePath}/images/2013-0/slam12.jpg" class="image_right clear" title="Fotky půjčeny od Science Slam Vienna" />
<img src="{$basePath}/images/2013-0/slam10.jpg" class="image_right clear" title="Fotky půjčeny od Science Slam Vienna" />

<div class="wide-text-block">
	{if isset($page) && $page !== false}
		{!$page->content}
	{/if}
	{control signup}
</div>
<div class="cleaner">&nbsp;</div>
{/block}
