{var $icon = "archive"}
{var $title = "Správa souborů"}
{block #content}
	<h1>Správa souborů</h1>
	<p n:if="$subpath">Aktuální cesta: <span class="line-pre">{$subpath}</span></p>
		
	{include ../flashes.latte}

	{form multiDeleteForm}
		<ul class="errors" n:if="$form->hasErrors()">
			<li n:foreach="$form->errors as $error">{$error}</li>
		</ul>
		<table class="files">
			<tr>
				<th></th>
				<th>Typ</th>
				<th>Název</th>
				<th>Velikost</th>
				<th>Možnosti</th>
			</tr>
			{if !empty($subpath)}
				<tr>
					<td></td>
					<td colspan="3">
						..
					</td>
					<td>
						<a href="{plink File:,$presenter->extractUntilLastSlash($subpath)}">Vstoupit</a>
					</td>
				</tr>
			{/if}
			{if isset($enterable) && !$enterable}
				<tr>
					<td></td>
					<td colspan="4">
						<div class="flash error">
							Tato složka není přístupná z důvodu špatných oprávnění.
						</div>
					</td>
				</tr>
			{/if}
			<tr n:foreach="$files as $path => $file">
				<td>
					{if !empty($subpath)}
						{input files:$control->fixPathToUploadBase($path)}
					{/if}
				</td>
				<td>
					{if $file->isFile()}
						F
					{elseif $file->isDir()}
						D
					{/if}
				</td>
				<td>
					{if $file->isDir()}
						<strong>
					{/if}
					{$file->getBasename()}
					{if $file->isDir()}
						</strong>
					{/if}
				</td>
				<td>{$file->getSize()|bytes:1}</td>
				<td>
					{if $file->isDir()}
						<a href="{plink File:,$subpath . '/'. $file->getBasename()}">Vstoupit</a>
					{else}
						<a href="{plink File:download,$subpath . '/'. $file->getBasename()}">Stáhnout</a>
						<a target="preview-pane" class="generic-preview" href="{plink File:download,$subpath . '/'. $file->getBasename(), true}">Náhled</a>
					{/if}
					<a href="{plink File:delete, $subpath . '/'. $file->getBasename()}" onclick="return confirm('Opravdu chcete smazat tento soubor?');">Smazat</a>
				</td>
			</tr>
		</table>
		{if !empty($subpath)}
			{input submitted, class => 'button', onclick => "return confirm('Opravdu chcete smazat všechny tyto soubory či adresáře?')"}
		{/if}
	{/form}

	<div class="cleaner"></div>

	{if !empty($subpath)}
		{control addForm}
		{control uploadForm}
	{else}
		{control fixPermissionsForm}
	{/if}

	{include ../admin-menu.latte}

{/block}
