<div class="new-gallery" n:inner-foreach="$images as $image">
	<div><a href="{$image}"><img class="new-gallery-item" src="{plink File:thumbnail, $image}" width="{$width}px" height="{$height}px"></a></div>
</div>