{var $pageTitle = "Přidat novou stránku"}
{var $robots = noindex}

{block #content}

{if isset($event)}
	<h1>{$event->name}</h1>
{else}
	<h1>Nezařazené</h1>
{/if}
<h2>Přidat novou stránku</h2>

{control addForm}

{include ../admin-menu.latte}