{var $pageTitle = "Přidat novou stránku"}
{var $robots = noindex}

{block #content}

{if isset($event)}
	<h1>{$event->name}</h1>
{else}
	<h1>Nezařazené</h1>
{/if}

{ifset $previewToken}
	<h2>Náhled stránky</h2>
	<iframe src="{plink Page:preview, $previewToken}" class="page-preview-pane"></iframe>
{/ifset}

<h2>Přidat novou stránku</h2>
{control addForm}

{include ../admin-menu.latte}