{var $pageTitle = "Smazat stránku"}
{var $robots = noindex}

{block #content}

{if $event !== FALSE}
	<h1>{$event->name}</h1>
{else}
	<h1>Nezařazené</h1>
{/if}
<h2>Smazat stránku</h2>

<p>Opravdu chcete smazat stránku: {$data->name}?</p>

{control deleteForm}

{include ../admin-menu.latte}