{var $pageTitle = "Upravit stránku"}
{var $robots = noindex}

{block #content}

{if $event !== FALSE}
	<h1>{$event->name}</h1>
{else}
	<h1>Nezařazené</h1>
{/if}

{ifset $previewToken}
	<h2>Náhled stránky</h2>
	<iframe src="{plink Page:preview, $previewToken}" class="page-preview-pane"></iframe>
{/ifset}

<h2>Úprava stránky</h2>
{control editForm}

{include ../admin-menu.latte}