{var $pageTitle = "Tomáš Buryška"}
{block content}
<img src="{$basePath}/images/2013-2/buryska2.jpg" class="image_right clear" title="Petr Sucháček" />
<img src="{$basePath}/images/2013-2/buryska.jpg" class="image_right clear" title="Petr Sucháček" />

<div class="wide-text-block">
<h1>Tomáš Buryška</h1>
<p>Přírodovědecká fakulta Masarykovy univerzity</p>
<h2>Krátce o Tomášovi</h2>
<p>Momentálně jsem doktorským studentem mikrobiologie. Věnuji se proteinovému inženýrství, charakterizaci proteinů a hledání nových substrátů a inhibitorů. Jelikož se jedná o poměrně rozmanité problémy, tak kromě biochemie, ze které čerpám nejvíce, často zabrousím i do oblastí fyziky, chemie, biologie a někdy i informačních technologií. Vědě jako takové se věnuji zejména proto, že jsem velmi zvědavý a zajímá mne, jak věci fungují.</p>
<p>Ve svém volném čase rád sportuji, především běhám. Ideálně do vrchu, protože výhledy do okolí za tu dřinu opravdu stojí. Cestování, ať už za studiem nebo za poznáním nových krajů a jejich obyvatel, považuji za způsob, jak zjistit více o lidech obecně. Je totiž velmi snadné přijmout za své vžité stereotypy o cizích kulturách bez snahy ji sám poznat. S přáteli také pořádáme studentskou vědeckou konferenci a dovolím si tvrdit, že předchozí 4 ročníky měly úspěch. </p>
<a href="{plink Homepage:slamTwo}" class="button">Science slam 2</a>
</div>
{/block}
