{block content}
<a href="{plink Homepage:about}">
<span class="block_2x1 left back_2x1_c">
<span class="sub-block_2x1_text">
<h1>Co je to Science slam?</h1>
<p>Science slam je příležitost k nahlédnutí do pod pokličku současného výzkumu, možnost potkat se s nadšenými lidmi,
	kteří poutavě, jednoduše a zábavně vykládají o tématech, kterými žijí.</p>
<p>Je to soutěž v předávání myšlenek a nadšení pro vědu, porotou je publikum. Dalo by se říci, že se jedná o divadelní
	performance, kde výzkumníci jsou v roli herců. Je to možnost se potkat s přáteli, kolegy i cizími lidmi, možnost se
	pobavit ale i navázat spolupráce.</p>
<p>Zaujali jsme Vás? Přečtěte si více <span class="bold">kliknutím na tento obdélník</span>!</p>
</span>
</span>
</a>

<div class="block_1x1_halves right">
	<a href="{plink Form:signup}">
<span class="sub-block_half1">Chtěl bys prezentovat svůj vlastní výzkum a vyhrát?<h1>Registruj se!</h1>
</span>
	</a>
	<a href="{plink Form:signup}">
<span class="sub-block_half2">Zajímalo by tě, ja to vlastně bude vypadat? Kdo zvítězí?<h1>Rezervuj si lístky!</h1>
</span>
	</a>
</div>

<a href="http://www.kabinetmuz.cz">
<span class="block_1x1 left back_1x1_a">
<span class="sub-block_1x1_text center">
<p>Nejbližší Science slam<br>se uskuteční dne</p>
<h1>12. 6. 2013</h1>
<p>v prostorách</p>
<h2>Kabinetu múz JAMU</h2>
<p>na Hrnčířské 21.</p>
</span>
</span>
</a>

<span class="block_1x1 left back_slam3">
<span class="sub-block_picture"><h3>Something</h3>description of something</span>
</span>

<a href="{plink Form:signup}">
<span class="block_1x1 left back_slam2">
<span class="sub-block_picture"><h3>Registrace spuštěna!</h3>Klikni a přihlaš se.</span>
</span>
</a>

<a href="mailto:mail@muni.cz">
<span class="block_1x1 left back_1x1_b">
<span class="sub-block_1x1_text center">
<p><span class="bold">Líbi se ti</span> idea Science slamu?</p>
<p>Máš nejakou <span class="bold">otázku</span> na organizátory?</p>
<p>Máš <span class="bold">nápad</span> na vylepšení?</p>
<p>Nebo <span class="bold">připomínku</span>, co jsme
	udělali špatně?</p>
<h2>Napiš nám na
	scienceslam@muni.cz</h2>
</span>
</span>
</a>

<a href="http://www.scienceslam.at/">
<span class="block_1x1 left back_slam1">
<span class="sub-block_picture"><h3>Science slam Vienna</h3>Inspirace ze zahraničí</span>
</span>
</a>

<div class="cleaner">&nbsp;</div>
{/block}
