{block content}

<a href="{plink Homepage:about}">
<span class="block_1x1 left back_1x1_b">
<span class="sub-block_1x1_text">
<h1>Science slam?</h1>
<p>Jde o soutěž v předávání myšlenek a nadšení pro vědu, porotou je publikum. Divadelní vystoupení, kde výzkumníci jsou v roli herců.</p>
<p>Jedinečná příležitost k nahlédnutí pod pokličku současné vědy a výzkumu.</p>
<p class="bold">Přečtěte si více...</p>
</span>
</span>
</a>

<div class="block_1x1_halves right">
<a href="{plink Form:signup}">
<span class="sub-block_half1">Chtěl bys prezentovat svůj vlastní výzkum a vyhrát?<h1>Registrace</h1>
</span>
</a>
<a href="{plink Homepage:ticket}">
<span class="sub-block_half2">Zajímalo by tě, jak to vlastně bude vypadat? Kdo zvítězí?<h1>Prodej lístků</h1>
</span>
</a>
</div>

<a href="http://www.scienceslam.at/">
<span class="block_1x1 left back_slam2">
<span class="sub-block_picture"><h3>Science slam Vienna</h3>Inspirace ze zahraničí</span>
</span>
</a>

<a href="http://kabinetmuz.cz/">
<span class="block_1x1 left back_1x1_a">
<span class="sub-block_1x1_text center">
<p class="margin-top">Nejbližší Science slam<br/>se uskuteční dne</p>
<h1>12. 6. 2013</h1>
<p>v 19:00 v prostorách</p>
<h2>Kabinetu MÚZ</h2>
<p>Sukova 4</p>
</span>
</span>
</a>

<a href="{$basePath}/images/poster2013.pdf">
<span class="block_1x1 left back_poster">
<span class="sub-block_picture"><h3>Plakát 2013</h3>Šiřte inspiraci dál, vyvěšte plakát.</span>
</span>
</a>

<div class="cleaner">&nbsp;</div>
{/block}
