{var $pageTitle = "Petr Holík"}
{block content}
<img src="{$basePath}/images/2013-2/holik2.jpg" class="image_right clear" title="Petr Holík" />
<img src="{$basePath}/images/2013-2/holik.jpg" class="image_right clear" title="Petr Holík" />

<div class="wide-text-block">
<h1>Petr Holík</h1>
<p>Přírodovědecká fakulta Masarykovy univerzity</p>
<h2>Krátce o Petrovi</h2>
<p>Jsem upoceným začátečníkem v oblasti fluviální geomorfologie – vědního oboru zabývajícího se 
procesy souvisejícími s říčními systémy. Mojí současnou specializací jsou meandrující toky, ale měl 
jsem příležitost si na arktickém souostroví Svalbard vyzkoušet, jaké to je zaplavat si v ledovcové říčce.</p>
<p>Kromě vědy a studia se aktivně zabývám improvizovaným divadlem a děláním rámusu pomocí všech 
možných bicích nástrojů. Baví mne mluvit k lidem a s lidmi a v poslední době se v tomto umění 
snažím co nejvíce zdokonalovat.</p>
<p>Závěrem bych o sobě rád sdělil pár nezbytných informací. Raději zimu než teplo, raději pěšky než na 
kole a raději maso než čokoládu.</p>

<h2>Svalbard: příběh o ledu, kamení a řece</h2>
<iframe width="600" height="375" src="//www.youtube.com/embed/g8LZSArlf-4" frameborder="0" allowfullscreen></iframe>
<p>video: Jakub Vengléř</p>

<a href="{plink Homepage:slamTwo}" class="button">Science slam 2</a>
</div>
{/block}
