{var $pageTitle = "Jiří Hrbáček"}
{block content}
<img src="{$basePath}/images/2013-1/hrbacek2.jpg" class="image_right clear" title="Jiří Hrbáček" />
<img src="{$basePath}/images/2013-1/hrbacek.jpg" class="image_right clear" title="Jiří Hrbáček" />

<div class="wide-text-block">
<h1>Jiří Hrbáček</h1>
<p>Katedra technické a informační výchovy, Pedagogická fakulta Masarykovy univerzity</p>
<h2>Programování robotů a malé děti</h2>
<iframe class="video" src="//www.youtube.com/embed/1cqKUri_HiQ" frameborder="0" allowfullscreen></iframe>
<p>video: Jakub Vengléř</p>
<a href="{plink Homepage:slamOne}" class="button">Science slam 1</a>
</div>
{/block}
