{var $pageTitle = "Petra Kalábová"}
{block content}
<img src="{$basePath}/images/blocks/person3.jpg" class="image_right clear" title="Petra Kalábová" />

<div class="wide-text-block">
<h1>Petra Kalábová</h1>
<p>Fakulta informatiky Masarykovy univerzity</p>
<h2>Krátce o Petre</h2>
<p>abcd</p>
<h2>Krátce o její výzkume</h2>
<p>abcd</p>
<a href="{plink Homepage:slamTwo}" class="button">Science slam 2</a>
</div>
{/block}
