{var $pageTitle = "Petra Kalábová"}
{block content}
<img src="{$basePath}/images/2013-2/kalabova.jpg" class="image_right clear" title="Petra Kalábová" />

<div class="wide-text-block">
<h1>Petra Kalábová</h1>
<p>Fakulta informatiky Masarykovy univerzity</p>
<h2>Krátce o Petre</h2>
<p>Říká se, že jsou dva typy lidí: jedni zálohují a druzí o svá data teprve přijdou. Zatím jsem o žádná data nepřišla a netýkala se mne ani žádný jiný počítačový průšvih, zato jsem několika lidem pomáhala řešit následky katastrofy, která vznikla, ani nevěděli jak. A tak jsem se začala zabývat nějakými protiopatřeními a prevencí příchodu průšvihů.</p>
<p>Studuji fakultu informatiky, fascinuje mne svět informací a počítačů a uvědomuji si, že používání internetu se dnes člověk nejen nevyhne, ale mnohdy ani neví, jak často a kde všude s ním přichází do styku. A proto se snažím najít přijatelný kompromis mezi obranou a pohodlným používáním techniky, a poradit každému, kdo je ochotný poslouchat. Protože jeden neví dne ani hodiny, kdy nějaký průšvih dožene zrovna jeho.</p>
<a href="{plink Homepage:slamTwo}" class="button">Science slam 2</a>
</div>
{/block}
