{var $pageTitle = "Zuzana Rábová"}
{block content}
<img src="{$basePath}/images/2013-1/rabova2.jpg" class="image_right clear" title="Zuzana Rábová" />
<img src="{$basePath}/images/2013-1/rabova.jpg" class="image_right clear" title="Zuzana Rábová" />

<div class="wide-text-block">
<h1>Zuzana Rábová</h1>
<p>Přírodovědecká fakulta Masarykovy univerzity, Centrum pro výzkum toxických látek v prostředí (RECETOX)</p>
<h2>Hledání jedu v kýblu vody</h2>
<iframe class="video" src="//www.youtube.com/embed/aGUJiHFIepo" frameborder="0" allowfullscreen></iframe>
<p>video: Jakub Venglář</p>
<a href="{plink Homepage:slamOne}" class="button">Science slam 1</a>
</div>
{/block}
