{block content}
<div class="contents-text">

	<img src="{$basePath}/images/slam1.jpg" class="image_1x1 right image-margin-left clear">

	<h1>Pravidla pro soutěžící</h1>

	<h2>Pro koho a co to je?</h2>
	<p>Pokud studujete nebo pracujete na Masarykově univerzitě, jste nadšení do svého výzkumu a rádi byste se o toto nadšení podělili s ostatními lidmi, je Science slam netradiční možnost, jak se do toho pustit. Ať už je vaše výzkumné téma jakkoliv složité, určitě zvládnete to podstatné předvést během 6 minut. Asi neřeknete všechno, určitě ale dost na to, aby lidé pochopili, proč je váš výzkum zajímavý a důležitý. Je to skvělá příležitost jak si vyzkoušet vystupování před víc jak stovkou lidí v neformálním prostředí, pokud zvládnete Science slam, zvládnete už jakoukoliv konferenci.</p>

	<img src="{$basePath}/images/slam1.jpg" class="image_1x1 right image-margin-left clear">

	<h2>Forma a obsah</h2>
	<p>Při vašem vystoupení je potřeba pečlivě vyvážit množství informací a zábavnost formy, kterou zvolíte. Publikum bude hodnotit nakolik vašemu výzkumu porozuměli, nakolik jim přišel důležitý a nakolik se během vašeho vystoupení bavili. Téma nebo aspekt výzkumu, který budete prezentovat se musí vašeho osobního výzkumu bezprostředně týkat, nejde o popularizaci vědního oboru nebo zvláště atraktivního jevu ale toho, čím ve svém výzkumu sami žijete.</p>
	<p>Protože nejjednodušší způsob jak unudit lidi k smrti a zabít v nich kreativitu je dát jim dataprojektor s prezentací, jsou obě tyto pomůcky zakázané. Všechno co budete k performanci potřebovat si na pódium musíte přinést sami. Můžete využít i svoje vlastní živé komparzisty, tito však nesmí během vystoupení mluvit.</p>

	<h2>Jak se připravit?</h2>
	<p>Pro všechny soutěžící je připravena dílna zaměřená na práci s tématem, hlasem a jevištním projevem, tato se uskuteční X.5.2013  a povede ji XYZ. Účast na dílně je nutnou podmínkou vystupování na Science slamu. Na dílnu je vhodné dojít již s jasnou představou co chcete obecenstvu předat a dobré je i mít nápady jak na to. My vám pomůžeme dát představení dohromady a přihodíme i pár dobrých rad odborníků na slovo vzatých.</p>

	<h2>Co mohu vyhrát?</h2>
	<p>Vítěz nezíská peněžitou odměnu ani zahraniční výzkumnou pozici, jen drobnost na památku a dobrý pocit, že jste lidem předali kus nadšení pro vědu a ukázali směr, o kterém dřív ani nemuseli tušit že existuje.</p>
	<p>Odměna všem soutěžícím bude vděk publika, intenzivní a otevřená zpětná vazba na jejich výzkum a příležitost se potkat a pobavit se spoustou mladých i zkušených kolegů z blízkých i vzdálených vědních oborů.</p>

	<h2>Přihlašování</h2>
	<p>Přihlásit se může libovolný student nebo zaměstnanec Masarykovy univerzity, stačí <a href="{plink Form:signup}" class="link">vyplnit registrační formulář</a>. Registrace je otevřena pouze do XX.YY. 2013!</p>

	<p>Jestli sme Vás zaujali, ale vystupovat nechcete, můžete být součástí publika. Stačí si <a href="{plink Form:ticket}" class="link">zarezervovat lístek</a>.</p>

	<div class="cleaner">&nbsp;</div>

</div>
{/block}
