{var $pageTitle = "Pravidla"}
{block content}

<img src="{$basePath}/images/2013-0/slam10.jpg" class="image_right clear" title="Fotky půjčeny od Science Slam Vienna" />
<img src="{$basePath}/images/2013-0/slam12.jpg" class="image_right clear" title="Fotky půjčeny od Science Slam Vienna" />
<img src="{$basePath}/images/2013-0/slam11.jpg" class="image_right clear" title="Fotky půjčeny od Science Slam Vienna" />

<div class="wide-text-block">

	<h1>Pravidla pro soutěžící</h1>

	<h2>Pro koho a co to je?</h2>
	<p>Pokud studujete nebo pracujete na Masarykově univerzitě, jste nadšení do svého výzkumu a rádi byste se o toto nadšení podělili s ostatními lidmi, je Science slam nová možnost, jak se do toho pustit. Ať už je vaše výzkumné téma jakkoliv složité, určitě zvládnete to podstatné předvést během 6 minut. Asi neřeknete všechno, určitě ale dost na to, aby lidé pochopili, proč je váš výzkum zajímavý a důležitý. Je to skvělá příležitost, jak si vyzkoušet vystupování před víc jak stovkou lidí v neformálním prostředí. Pokud zvládnete Science slam, zvládnete už jakoukoliv konferenci.</p>

	<h2>Forma a obsah</h2>
	<p>Při vašem vystoupení je potřeba pečlivě vyvážit množství informací a zábavnost formy, kterou zvolíte. Diváci v publiku budou hodnotit, nakolik vašemu výzkumu porozuměli, jak jim přišel důležitý a jestli se během vašeho vystoupení bavili. Téma nebo aspekt výzkumu, který budete prezentovat se musí vašeho osobního výzkumu bezprostředně týkat. Nejde o popularizaci vědního oboru nebo zvláště atraktivního jevu, ale toho, čím ve svém výzkumu sami žijete.</p>
	<p>Nejjednodušší způsob, jak unudit lidi k smrti a zabít v nich kreativitu, je dát jim dataprojektor s prezentací. Proto jsou obě tyto pomůcky zakázané. Všechno, co budete k vystoupení potřebovat, si na pódium musíte přinést sami. Můžete využít i svoje vlastní živé komparzisty, tito však nesmí během vystoupení mluvit.</p>

	<h2>Jak se připravit?</h2>
	<p>Pro všechny soutěžící je připravena dílna zaměřená na práci s tématem, hlasem a jevištním projevem. Účast na dílně je nutnou podmínkou vystupování na Science slamu. Na dílnu je vhodné dojít již s jasnou představou o tom, co chcete obecenstvu předat a dobré je i mít nápady, jak na to. My vám pomůžeme dát představení dohromady a přihodíme i pár dobrých rad odborníků na slovo vzatých.</p>

	<h2>Co můžete vyhrát?</h2>
	<p>Vítěz nezíská peněžitou odměnu ani Nobelovu cenu, jen drobnost na památku a dobrý pocit, že lidem předal kus nadšení pro vědu a ukázal směr, o kterém dřív ani nemuseli tušit, že existuje. Odměnou soutěžícím bude také vděk publika, intenzivní a otevřená zpětná vazba na jejich výzkum a příležitost potkat a pobavit se se spoustou mladých i zkušených kolegů z blízkých i vzdálených vědních oborů.</p>

	<h2>Jak být u toho?</h2>
	<p>Přihlásit do soutěže se může libovolný student nebo zaměstnanec Masarykovy univerzity, stačí vyplnit registrační formulář.</p>

	<a href="{plink Form:signup}" class="button">Registrovat se</a>

	<p>Nechcete soutěžit? Staňte se součástí publika! Stačí si koupit lístek.</p>

	<a href="{plink Homepage:ticket}" class="button">Koupit lístek</a>

</div>

<div class="cleaner">&nbsp;</div>
{/block}
