{var $pageTitle = "Science Sven"}
{block content}
<img src="{$basePath}/images/2013-2/science-sven.jpg" class="image_right clear" title="Jak publikum dělalo vědu" />
<img src="{$basePath}/images/2013-2/science-sven2.jpg" class="image_right clear" title="Tomáš Fiala" />

<div class="wide-text-block">
<h1>Science Sven</h1>
<p>Aneb jak publikum dělalo vědu...</p>
<h2>Krátce o vystoupení</h2>
<p>Jakožto nadšený vědec se zajímám prakticky o vše, co se kolem nás děje. Mým hlavním zaměřením je však supramolekulární chemie, tedy obor, který se zabývá mezimolekulárními interakcemi. Ve skupině doc. Vladimíra Šindeláře se vrámci své diplomové práce zabývám syntézou nových makrocyklických sloučenin a studiu jejich interakcí s různými "hosty." Takový můj "vedlejšák" je analytická chemie. V současné době jsem konzultantem bakalářského studenta, se kterým praktikujeme elektroanalytickou metodu zvanou voltametrie.</p>
<p>Cizí mi není ani vzdělávání naší středoškolské a rané vysokoškolské mládeže. Jsem členem organizačního týmu <a class="link" href="http://vibuch.math.muni.cz/">korespondenčního semináře ViBuCh</a> (Vzdělávací ikurz pro Budoucí Chemiky), několik úloh jsem napsal i do příbuzného <a class="link" href="http://ksicht.natur.cuni.cz/">KSICHTu</a> (Korespondenční Seminář Inspirovaný CHemickou Tématikou), vedl jsem přípravné semináře ke státnicím (především) pro budoucí učitele biologie a chemie atp.</p>
<h2>Jak publikum dělalo vědu</h2>
<iframe class="video" src="//www.youtube.com/embed/M0b7lRoqqEQ" frameborder="0" allowfullscreen></iframe>
<a href="{plink Homepage:slamTwo}" class="button">Science slam 2</a>
</div>
{/block}
