{var $pageTitle = "2. Science slam"}
{block content}
<span class="block_1x1 left back_1x1_c">
<span class="sub-block_1x1_text">
<h1>2. Science slam</h1>
<p>Druhý Science slam se uskuteční 27. 11. 2013 v prostorách <a class="link" href="http://kabinetmuz.cz/">Kabinetu MÚZ</a> v Brně.</p>
<p>Soutěžící zatím pilně připravují svá vystoupení. Připravili jsme pro ně 2 workshopy na zdokonalení prezentačních dovedností (13. a 20. listopadu v učebně J5 v areálu Přírodovědecké fakulty MU).</p>
</span>
</span>
<a href="{plink Homepage:buryska}">
<span class="block_1x1 left back_buryska">
<span class="sub-block_picture"><h3>Tomáš Buryška</h3>Evoluce v kapkách</span>
</span>
</a>
<!-- <a href="{plink Homepage:fiala}"> -->
<span class="block_1x1 left back_person1">
<span class="sub-block_picture"><h3>Tomáš Fiala</h3>Chemie makrocyklických sloučenin</span>
</span>
<!-- </a> -->
<!-- <a href="{plink Homepage:zounkova}"> -->
<span class="block_1x1 left back_person2">
<span class="sub-block_picture"><h3>Radka Zounková</h3>S antibiotiky jako s ohněm</span>
</span>
<!-- </a> -->
<a href="{plink Homepage:pracny}">
<span class="block_1x1 left back_pracny">
<span class="sub-block_picture"><h3>Pavel Pracný</h3>Tři skřítci &ndash; Ca, Mg, Sr</span>
</span>
</a>
<!-- <a href="{plink Homepage:vrtalova}"> -->
<span class="block_1x1 left back_vrtalova">
<span class="sub-block_picture"><h3>Hana Vrtalová</h3>Fonetika angličtiny v praxi</span>
</span>
<!-- </a> -->
<!-- <a href="{plink Homepage:holik}"> -->
<span class="block_1x1 left back_person3">
<span class="sub-block_picture"><h3>Petr Holík</h3>Co vypráví Svalbard</span>
</span>
<!-- </a> -->
<!-- <a href="{plink Homepage:kalabova}"> -->
<span class="block_1x1 left back_person1">
<span class="sub-block_picture"><h3>Petra Kalábová</h3>Kybernetická bezpečnost</span>
</span>
<!-- </a> -->

<a href="{$basePath}/images/2013-2/poster2013-2.pdf">
<span class="block_1x1 left back_poster_2013-2">
<span class="sub-block_picture"><h3>Plakát</h3>Šiřte inspiraci dál, vyvěšte plakát.</span>
</span>
</a>
<!--
<span class="block_1x1 left back_1x1_a">
<span class="sub-block_1x1_text">
<h1>Sponzoři</h1>
<p>Rádi bychom poděkovali firmám, které nám zapůjčili svítidla použité při propagaci Slamu a dekoraci interiéru Kabinetu MÚZ.</p>
<p>Jde o firmy <a class="link" href="http://www.novoretro.net/">Novoretro</a>, internetový obchod s nábytkem a doplňky z let 1900 – 2000 a
<a class="link" href="http://www.kmsvitidla.cz/">KM svítidla</a>, prodej svítidel, osvětlovací techniky a elektrospotřebičů.</p>
</span>
</span>
-->
<div class="cleaner">&nbsp;</div>
{/block}
