{var $pageTitle = "2. Science slam"}
{block content}
<span class="block_1x1 left back_1x1_c">
<span class="sub-block_1x1_text">
<h1>2. Science slam</h1>
<p>Druhý Science slam se uskutečnil 27. listopadu 2013 v prostorách <a class="link" href="http://kabinetmuz.cz/">Kabinetu MÚZ</a>. Všem, kteří přišli soutěžící podpořit do publika, děkujeme.</p>
<p>Vítězem i nejlepším bavičem se stal Tomáš Fiala a speciální cenu za humor dostala anka Vrtalová.</p>
<p>Doufáme, že jste se skvěle bavili.</p>
</span>
</span>
<a href="{plink Homepage:gallery2}">
<span class="block_1x1 left back_gallery_2013-2">
<span class="sub-block_picture"><h3>Fotogalerie</h3>Jak vypadal druhý český Slam</span>
</span>
</a>
<a href="http://www.veda.muni.cz/veda-a-vyzkum/4024-molekularnim-autobusem-dojel-k-vitezstvi">
<span class="block_1x1 left back_press">
<span class="sub-block_picture"><h3>Napsali o nás</h3>Ohlasy na druhý Science slam</span>
</span>
</a>
<a href="{plink Homepage:buryska}">
<span class="block_1x1 left back_buryska">
<span class="sub-block_picture"><h3>Tomáš Buryška</h3>Evoluce v kapkách</span>
</span>
</a>
<a href="{plink Homepage:fiala}">
<span class="block_1x1 left back_fiala">
<span class="sub-block_picture"><h3>Tomáš Fiala</h3>Močovina a molekulární autobusy</span>
</span>
</a>
<a href="{plink Homepage:zounkova}">
<span class="block_1x1 left back_zounkova">
<span class="sub-block_picture"><h3>Radka Zounková</h3>S antibiotiky jako s ohněm</span>
</span>
</a>
<a href="{plink Homepage:pracny}">
<span class="block_1x1 left back_pracny">
<span class="sub-block_picture"><h3>Pavel Pracný</h3>Po stopách stopových prvků</span>
</span>
</a>
<a href="{plink Homepage:vrtalova}">
<span class="block_1x1 left back_vrtalova">
<span class="sub-block_picture"><h3>Hana Vrtalová</h3>Anglická výslovnost pod lupou</span>
</span>
</a>
<a href="{plink Homepage:holik}">
<span class="block_1x1 left back_holik">
<span class="sub-block_picture"><h3>Petr Holík</h3>Svalbard: led, kamení a řeka</span>
</span>
</a>
<a href="{plink Homepage:kalabova}">
<span class="block_1x1 left back_kalabova">
<span class="sub-block_picture"><h3>Petra Kalábová</h3>Co číhá na síti</span>
</span>
</a>
<!-- <a href="{plink Homepage:scienceSven}"> -->
<span class="block_1x1 left back_science-sven">
<span class="sub-block_picture"><h3>Science Sven</h3>Jak publikum dělalo vědu</span>
</span>
<!-- </a> -->
<a href="{$basePath}/images/2013-2/poster2013-2.pdf">
<span class="block_1x1 left back_poster_2013-2">
<span class="sub-block_picture"><h3>Plakát</h3>Šiřte inspiraci dál, vyvěste plakát.</span>
</span>
</a>
<span class="block_1x1 left back_1x1_a">
<span class="sub-block_1x1_text">
<h1>Sponzoři</h1>
<p>Za spolupráci při propagaci by jsme rádi poděkovali studentské kavárně <a class="link" href="https://www.facebook.com/krmitko">Krmítko</a>.</p>
<a href="https://www.facebook.com/krmitko"><img class="krmitko center-block" src="{$basePath}/images/blocks/krmitko.png" title="Krmítko - Vaše studentská kavárna"/></a>
</span>
</span>
<div class="cleaner">&nbsp;</div>
{/block}
