{var $pageTitle = "1. Science slam"}
{block content}
<span class="block_1x1 left back_1x1_c">
<span class="sub-block_1x1_text">
<h1>1. Science slam</h1>
<p>První český Science slam se konal 12. 6. 2013 v prostorách <a class="link" href="http://kabinetmuz.cz/">Kabinetu MÚZ</a> v Brně.</p>
<p>Zde si můžete pustit si záznamy všech vystoupení a prohlídnout <a class="link" href="{plink Homepage:gallery}">fotogalerii</a>.</p>
<p>Na Science slamu vystoupil také <a class="link" href="http://www.udif.cz/">ÚDIF</a> s představěním "Vidět zvuk, slyšet světlo".</p>
</span>
</span>
<a href="{plink Homepage:gallery}">
<span class="block_1x1 left back_gallery_2013-1">
<span class="sub-block_picture"><h3>Fotogalerie</h3>Jak vypadal první český Slam</span>
</span>
</a>
<a href="http://www.veda.muni.cz/veda-a-vyzkum/3729-prvni-science-slam-vyhrala-biolozka">
<span class="block_1x1 left back_press">
<span class="sub-block_picture"><h3>Napsali o nás</h3>První ohlasy na Science slam</span>
</span>
</a>
<a href="{plink Homepage:rabova}">
<span class="block_1x1 left back_rabova">
<span class="sub-block_picture"><h3>Zuzana Rábová</h3>Hledání jedu v kýblu vody</span>
</span>
</a>
<a href="{plink Homepage:suchacek}">
<span class="block_1x1 left back_suchacek">
<span class="sub-block_picture"><h3>Petr Sucháček</h3>Škola: křižovatka života</span>
</span>
</a>
<a href="{plink Homepage:sychrova}">
<span class="block_1x1 left back_sychrova">
<span class="sub-block_picture"><h3>Eliška Sychrová</h3>Komu se nelení, tomu se zelení</span>
</span>
</a>
<a href="{plink Homepage:hrbacek}">
<span class="block_1x1 left back_hrbacek">
<span class="sub-block_picture"><h3>Jiří Hrbáček</h3>Programování robotů a malé děti</span>
</span>
</a>
<a href="{plink Homepage:tejkalova}">
<span class="block_1x1 left back_tejkalova">
<span class="sub-block_picture"><h3>Kateřina Tejkalová</h3>Léčivá vůně v ulicích Amsterdamu</span>
</span>
</a>
<a href="http://www.udif.cz/">
<span class="block_1x1 left back_udif_2013-1">
<span class="sub-block_picture"><h3>ÚDIF</h3>Úžasné divadlo fyziky</span>
</span>
</a>
<a href="{$basePath}/images/2013-1/poster2013.pdf">
<span class="block_1x1 left back_poster_2013-1">
<span class="sub-block_picture"><h3>Plakát 2013</h3>Šiřte inspiraci dál, vyvěšte plakát.</span>
</span>
</a>
<span class="block_1x1 left back_1x1_a">
<span class="sub-block_1x1_text">
<h1>Sponzoři</h1>
<p>Rádi bychom poděkovali firmám, které nám pujčili svítidla použité při propagaci Slamu a dekoraci interiéru Kabinetu MÚZ.</p>
<p>Jde o firmy <a class="link" href="http://www.novoretro.net/">Novoretro</a>, internetový obchod s nábytkem a doplňky z let 1900 – 2000 a
<a class="link" href="http://www.kmsvitidla.cz/">KM svítidla</a>, prodej svítidel, osvětlovací techniky a elektrospotřebičů.</p>
</span>
</span>
<div class="cleaner">&nbsp;</div>
{/block}
