{var $pageTitle = "Petr Sucháček"}
{block content}
<img src="{$basePath}/images/2013-1/suchacek2.jpg" class="image_right clear" title="Petr Sucháček" />
<img src="{$basePath}/images/2013-1/suchacek.jpg" class="image_right clear" title="Petr Sucháček" />

<div class="wide-text-block">
<h1>Petr Sucháček</h1>
<p>Filozofická fakulta Masarykovy univerzity</p>
<h2>Škola: křižovatka života</h2>
<iframe class="video" src="//www.youtube.com/embed/FFLSL5WT0Fs" frameborder="0" allowfullscreen></iframe>
<p>video: Jakub Venglář</p>
<a href="{plink Homepage:slamOne}" class="button">Science slam 1</a>
</div>
{/block}
