{var $pageTitle = "Eliška Sychrová"}
{block content}
<img src="{$basePath}/images/2013-1/sychrova2.jpg" class="image_right clear" title="Eliška Sychrová" />
<img src="{$basePath}/images/2013-1/sychrova.jpg" class="image_right clear" title="Eliška Sychrová" />

<div class="wide-text-block">
<h1>Eliška Sychrová</h1>
<p>Přírodovědecká fakulta Masarykovy univerzity, Centrum pro výzkum toxických látek v prostředí (RECETOX)</p>
<h2>Komu se nelení, tomu se zelení</h2>
<iframe class="video" src="//www.youtube.com/embed/M0b7lRoqqEQ" frameborder="0" allowfullscreen></iframe>
<p>video: Jakub Venglář</p>
<a href="{plink Homepage:slamOne}" class="button">Science slam 1</a>
</div>
{/block}
