{var $pageTitle = "Kateřina Tejkalová"}
{block content}
<img src="{$basePath}/images/2013-1/tejkalova2.jpg" class="image_right clear" title="Kateřina Tejkalová" />
<img src="{$basePath}/images/2013-1/tejkalova.jpg" class="image_right clear" title="Kateřina Tejkalová" />

<div class="wide-text-block">
<h1>Kateřina Tejkalová</h1>
<p>Přírodovědecká fakulta Masarykovy univerzity, Centrum pro výzkum toxických látek v prostředí (RECETOX)</p>
<h2>Čemu se ve svém výzkumu aktuálně věnuješ?</h2>
<p>V současnosti se v Nizozemí věnuji studiu kultivarů rostliny Cannabis sativa L. na chemické a genetické rovině. Cannabis hraje v historii lidstva významnou roli nejen jako průmyslová plodina (zdroj vlánkniny, potravy, biomasy), ale také pro léčivé účinky svých sekundárních metabolitů. 21. století znamená renesanci používání medicínských kultivarů Cannabis.  Počet pacientů, kteří užívají Cannabis k léčbě, stále narůstá. V rostlinných produktech se tito lidé mohou orientovat pouze podle jmen, která však v současnosti postrádají vědecky podloženou informační hodnotu. Otázka správného vypovídajícího systému nomenklatury je z toho důvodu významná. Uživatelé často rozlišují dva hlavní typy, sativa a indica, a to na základě jejich morfologie, domnělého chemického obsahu a léčebných účinků.</p>
<p>Podle našich zdrojů však doposud žádný výzkum nenašel rozhodující rozdíl mezi C. sativa a C. indica kombinováním různých přístupů jako je analýza chemického složení, medicínských účinků a genetického profilu do jednoho komplexního statistického modelu.
 Nizozemí je jednou z mála zemí na světě s přístupem ke vzorkům Cannabis. Díky tomu se tato studie zaměří na analýzu geneticky rozmanité sbírky vzorků.</p>
<h2>Léčivá vůně v Amsterdamských ulicích</h2>
<iframe class="video" src="//www.youtube.com/embed/hYUZS8jy9is" frameborder="0" allowfullscreen></iframe>
<a href="{plink Homepage:slamOne}" class="button">Science slam 1</a>
</div>
{/block}
