{var $pageTitle = "Koupě lístků"}
{block content}
<h1>Koupě lístků</h1>
<p>Prodej lístků v předprodeji probíhá v <a href="http://kabinetmuz.cz/">Kabinetu MÚZ</a> a Krmítku FSS.
	Pokud vstupenky zbydou, budou k zakoupení na místě přímo před konáním.</p>
{/block}
