{var $pageTitle = "Hana Vrtalová"}
{block content}
<img src="{$basePath}/images/2013-2/vrtalova2.jpg" class="image_right clear" title="Hana Vrtalová" />
<img src="{$basePath}/images/2013-2/vrtalova.jpg" class="image_right clear" title="Hana Vrtalová" />

<div class="wide-text-block">
<h1>Hana Vrtalová</h1>
<p>Filozofická fakulta a Přírodovědecká fakulta Masarykovy univerzity</p>
<h2>Krátce o Hance</h2>
<p>Jsem třetím rokem studentkou geografie a kartografie se zaměřením na vzdělávání na 
přírodovědecké fakultě a anglického jazyka a literatury na filozofické fakultě. V rámci své bakalářské práce se zaměřuji na anglickou 
výslovnost. Konkrétněji, snažím se naučit jednu velice talentovanou doktorandku studující 
polonistiku, jak správně mluvit americkým akcentem. Při práci na tomto projektu jsem narazila na 
několik zásadních chyb, které Češi jako nerodilí mluvčí velice často dělají. Většinou se setkávám s 
problémy týkající se anglické intonace, důrazu a s neznalostí výslovnosti některých (i poměrně často 
užívaných) slov.</p>
<p>Ráda bych se věnovala šíření fonetické gramotnosti mezi lidmi, kteří mluvenou 
angličtinu potřebují v každodenním životě, ať už v práci při komunikaci se spolupracovníky, ve škole 
nebo při prezentování na mezinárodních konferencích. Mým přáním je, aby se angličtina vyučovala 
na školách důkladněji a Češi patřili k národům s výbornou anglickou výslovností, za kterou by se 
nemuseli stydět ani na mezinárodních setkáních.</p>
<p>Kromě angličtiny v poslední době věnuji spoustu času komunikačnímu tréninku, 
prezentačním dovednostem, moderování improvizovaného divadla a zpěvu v rockové kapele.</p>
<a href="{plink Homepage:slamTwo}" class="button">Science slam 2</a>
</div>
{/block}
