{var $pageTitle = "Síň slávy"}
{block content}

<img src="/images/2013-2/fiala2.jpg" class="image_right clear" title="Tomáš Fiala, vítěz druhého Science slamu">
<img src="/images/2013-1/rabova2.jpg" class="image_right clear" title="Zuzana Rábová, vítězka prvního Science slamu">

<div class="wide-text-block">
	<h1>Síň slávy</h1>
	<p>Do síně slávy se dostanou jen ti, kteří prokázali své schopnosti. Jen ti, kteří se nebáli představit svůj výzkum i před publikum. Jen ti, kteří se zůčastnili Science slamu a uspěli.</p>

<h3>Science slam 2: Tomáš Fiala, Hana Vrtalová</h3>
<p>Celkovým vítězem i nejlepším bavičem se stal Tomáš Fiala s vynikajícím vystoupením <a href="{plink Homepage:fiala}" class="bold link">Od močoviny po molekulární autobus</a>. Petr je student Přírodovědecké fakulty Masarykovy univerzity. Zajímá se prakticky o vše, co se kolem nás děje. 
Hlavním zaměřením je však supramolekulární chemie, tedy obor, který se zabývá mezimolekulárními interakcemi. V rámci své diplomové práce se zabývá syntézou nových makrocyklických sloučenin a studiu jejich interakcí s různými "hosty."</p>
<p>Speciální cenu pro baviče získala Hanka Vrtalová se svým vystoupením <a href="{plink Homepage:vrtalova}" class="link bold">Anglická výslovnost pod lupou</a>. Hanka je studentkou Filozofické a Přírodovědecké fakulty Masarykovy univerzity.</p>
<p>Rozhovor s vítězem si můžete přečíst například v článku <a href="http://www.veda.muni.cz/veda-a-vyzkum/4071-vyhral-science-slam-umi-hledat-analogie" class="link">Vyhrál Science slam. Umí hledat analogie</a> publikovaném 25. prosince 2013 na vědeckopopulárním portálu <a href="http://www.veda.muni.cz/" class="link">věda.muni.cz</a>.</p>

<h3>Science slam 1: Zuzana Rábová</h3>
<p>Celkovým vítězem i nejlepším bavičem se stala Zuzana Rábová s vystoupením <a href="{plink Homepage:rabova}" class="bold link">Hledání jedu v kýblu vody</a>. Zuzana je studentka Přírodovědecké fakulty Masarykovy univerzity dělající výzkum pro Centrum pro výzkum toxických látek v prostředí (RECETOX).</p>
<p>Více nejen o jejím vystoupení si můžete přečíst například v článku <a href="http://www.veda.muni.cz/veda-a-vyzkum/3729-prvni-science-slam-vyhrala-biolozka" class="link">První Science slam vyhrála bioložka</a> publikovaném 13. června 2013 na vědeckopopulárním portálu <a href="http://www.veda.muni.cz/" class="link">věda.muni.cz</a>.</p>

</div>

{/block}
