{var $pageTitle = "Radka Zounková"}
{block content}
<img src="{$basePath}/images/blocks/person1.jpg" class="image_right clear" title="Radka Zounková" />

<div class="wide-text-block">
<h1>Radka Zounková</h1>
<p>Přírodovědecká fakulta Masarykovy univerzity, Centrum pro výzkum toxických látek v prostředí (RECETOX)</p>
<h2>Krátce o Radce</h2>
<p>abcd</p>
<h2>Krátce o její výzkume</h2>
<p>abcd</p>
<a href="{plink Homepage:slamTwo}" class="button">Science slam 2</a>
</div>
{/block}
