<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="content-language" content="cz" />
		<meta name="description" content="{$pageDescription}" n:ifset="$pageDescription" />
		<meta name="keywords" content="{$pageKeywords}" n:ifset="$pageKeywords" />

		<meta property="og:type" content="website" />
		<meta property="og:image" content="{plink //Page:show}images/blocks/metaphoto.jpg"/>

		<link href="{$basePath}/css/screen.css" media="screen,projection,tv" rel="stylesheet" type="text/css" />
		<link rel="icon" href="{$basePath}/favicon.ico" type="image/x-icon" />
		<title>{$pageTitle}{if !empty($pageTitle) && $pageTitle != 'Science slam'} | Science slam{/if}</title>
		{block scripts}
			<script src="{$basePath}/js/jquery.js"></script>
			<script src="{$basePath}/js/netteForms.js"></script>
			<script src="{$basePath}/js/nette.ajax.js"></script>
			<script src="{$basePath}/js/main.js"></script>
			<script src="{$basePath}/js/w3.js"></script>

			<link rel="stylesheet" href="{$basePath}/css/magnificPopup.css">
			<script src="{$basePath}/js/magnificPopup.js"></script>

			{ifCurrent Page:preview}
				<script src="{$basePath}/js/disableLinks.js"></script>
			{/ifCurrent}
		{/block}

		{ifset $googleAnalytics}
			<!-- Google Analytics -->
			<script>
				window.ga=window.ga||function(){ (ga.q=ga.q||[]).push(arguments) };ga.l=+new Date;
				ga('create', {$googleAnalytics}, 'auto');
				ga('send', 'pageview');
			</script>
			<script async src='https://www.google-analytics.com/analytics.js'></script>
			<!-- End Google Analytics -->
		{/ifset}
		{ifset $facebookAnalytics}
			<!-- Facebook Pixel Code -->
			<script>
				!function(f,b,e,v,n,t,s)
				{ if(f.fbq)return;n=f.fbq=function(){ n.callMethod?
					n.callMethod.apply(n,arguments):n.queue.push(arguments)};
					if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
					n.queue=[];t=b.createElement(e);t.async=!0;
					t.src=v;s=b.getElementsByTagName(e)[0];
					s.parentNode.insertBefore(t,s)}(window, document,'script',
					'https://connect.facebook.net/en_US/fbevents.js');
				fbq('init', {$facebookAnalytics});
				fbq('track', 'PageView');
			</script>
			<noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id={$facebookAnalytics}&ev=PageView&noscript=1"/></noscript>
			<!-- End Facebook Pixel Code -->
		{/ifset}

		<style n:inner-block="style">
</style>
	</head>
	<body n:inner-block="body">
		{if $user->isLoggedIn()}
			<a href="{plink Admin:}" class="admin-door">&nbsp;</a>
		{/if}
		<div class="root">
			<div class="header">
				<div class="contents">
					<div class="header-lamp right" >
						<img src="{$basePath}/images/design/lightbulb.png" class="header-lamp-image" alt="výzkum v jiném světle"/>
					</div>

					<div class="header-claim right">
						{control snippet:render, 'header1'}
					</div>
					<a href="{plink Page:show}">
						<span class="header-logo left">&nbsp;</span>
					</a>

					<div class="header-menu left">
						{control snippet:render,'main-menu'}
					</div>
					<div class="cleaner">&nbsp;</div>
				</div>
			</div>
			<div class="main">
				<div class="contents">
					{block content}
					{/block}
					<div class="cleaner">&nbsp;</div>
				</div>
			</div>

			<div class="footer">
				<div class="contents">
					<div class="footer-text right">
						{control snippet:render,'footer2'}
					</div>


					<div class="footer-logo left">
						<div class="footer-logo-text left">
							{control snippet:render, 'footer1'}
						</div>
						<a href="http://www.muni.cz/">
							<img src="{$basePath}/images/design/mu_logo.png" class="footer-munilogo-image left" alt="Masarykova univerzita"/>
						</a>
						<div class="cleaner">&nbsp;</div>
					</div>
					<div class="cleaner">&nbsp;</div>
				</div>
			</div>
		</div>
	</body>
</html>
