<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="content-language" content="cz" />
		<meta name="description" content="{$pageDescription}" n:ifset="$pageDescription" />
		<meta name="keywords" content="{$pageKeywords}" n:ifset="$pageKeywords" />

		<meta property="og:type" content="website" />
		<meta property="og:image" content="{plink //Page:show}images/blocks/metaphoto.jpg"/>

		<link href="{$basePath}/css/screen.css" media="screen,projection,tv" rel="stylesheet" type="text/css" />
		<link rel="icon" href="{$basePath}/favicon.ico" type="image/x-icon" />
		<title>{$pageTitle}{if !empty($pageTitle) && $pageTitle != 'Science slam'} | Science slam{/if}</title>
		{block scripts}
			<script src="{$basePath}/js/jquery.js"></script>
			<script src="{$basePath}/js/netteForms.js"></script>
			<script src="{$basePath}/js/main.js"></script>
		{/block}
<style n:inner-block="style">
</style>
	</head>
	<body>
		{if $user->isLoggedIn()}
			<a href="{plink Admin:}" class="admin-door">&nbsp;</a>
		{/if}
		<div class="root">
			<div class="header">
				<div class="contents">
					<div class="header-lamp right" >
						<img src="{$basePath}/images/design/lightbulb.png" class="header-lamp-image" alt="výzkum v jiném světle"/>
					</div>

					<div class="header-claim right">
						<span class="bold">„Blik!“</span><br>Velká věda začíná&nbsp;<br>malými citoslovci.
					</div>
					<a href="{plink Page:show}">
						<span class="header-logo left">&nbsp;</span>
					</a>

					<div class="header-menu left">
						<ul class="menu-ul">
							<li><a href="{plink Page:show, null, about}">O co jde</a></li>
							<li><a href="{plink Page:show, null, schedule}">Průběh</a></li>
							<li><a href="{plink Page:show, null, rules}">Pravidla</a></li>
							<li><a href="{plink Page:show, null, people}">Kdo je za tím</a></li>
						</ul>
					</div>
					<div class="cleaner">&nbsp;</div>
				</div>
			</div>
			<div class="main">
				<div class="contents">
					{block content}
					{/block}
					<div class="cleaner">&nbsp;</div>
				</div>
			</div>

			<div class="footer">
				<div class="contents">
					<div class="footer-text right">
						<a href="http://www.youtube.com/user/ScienceSlamMUNI" target="_blank" title="Sledujte nás na YouTube">
							<img class="footer-social" src="{$basePath}/images/design/youtube.png" alt="YouTube" />
						</a>					
						<a href="http://www.facebook.com/ScienceSlamMUNI" target="_blank" title="Sledujte nás na Facebooku">
							<img class="footer-social" src="{$basePath}/images/design/facebook.png" alt="Facebook" />
						</a>
						<a href="mailto:scienceslam@muni.cz" title="Napište nám">
							<img class="footer-social" src="{$basePath}/images/design/email.png" alt="scienceslam@muni.cz" />
						</a>
						<div class="cleaner">&nbsp;</div>
						&copy; 2017 <a href="http://www.muni.cz">Masarykova univerzita</a>
					</div>

					<div class="footer-logo left">
						<div class="footer-logo-text left">
							<span class="bold">Science slam</span> pořádá<br />
						</div>
						<a href="http://www.muni.cz/">
							<img src="{$basePath}/images/design/mu_logo.png" class="footer-munilogo-image left" alt="Masarykova univerzita"/>
						</a>
						<div class="cleaner">&nbsp;</div>
					</div>
					<div class="cleaner">&nbsp;</div>
				</div>
			</div>
		</div>
	</body>
</html>
