/* Science Slam stylesheet 
used colors:
    blue: rgb(0,39,118)
    black: rgb(42,42,42)
*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800&subset=latin,latin-ext);

body {
	font-family: 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
	color: rgb(42,42,42);
	background-color: rgb(248,248,248);
	text-align: left;
	margin: 0;
	padding: 0;
	height: 100%;
	background-image: url("../images/background.png");
	background-repeat: repeat;
}

.cleaner {
	clear: both;
	height: 0;
	overflow: hidden;
}

.root {
	position: absolute;
	min-width: 100%;
	min-height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.contents-text {
	padding: 0 10px 0 10px;
}

.contents {
	margin: 0 auto 0 auto;
	width: 640px;
}

@media only screen and (min-width: 960px) {
	.contents {
		width: 960px;
	}
	body { text-align: justify; }
}

@media only screen and (min-width: 1280px) {
	.contents {
		width: 1280px;
	}
}

.header {
	position: relative;
	border-style: solid;
	border-color: rgb(204,204,204);
	border-width: 5px 0 0 0;
	background: url("../images/gradient-top.png");
	height: 230px;
}

.main {
	position: relative;
	margin-bottom: 250px;
}

.footer {
	border-style: solid;
	border-color: rgb(204,204,204);
	border-width: 0 0 20px 0;
	background: url("../images/gradient-bottom.png");
	position: absolute;
	height: 230px;
	bottom: 0;
	left: 0;
	right: 0;
	width: auto;
}

.header-logo {
	display: block;
	height: 150px;
	width: 150px;
	margin: 40px 40px 40px 10px;
	position: relative;
	background: url("../images/logo2.png");
}
.header-logo:hover { background-position: 150px 0; }

.header-menu {
	margin: 40px 0 40px 0;
	padding: 0;
	text-align: left;
	position: relative;
}

.header-lamp {
	height: 0;
	width: 400px;
	overflow: visible;
	position: relative;
	z-index: -1;
}

.header-lamp-image {
	width: 400px;
	height: 416px;
	position: relative;
	left: 120px;
	top: -50px;
}

.header-claim {
	margin: 150px 10px 30px 10px;
	height: 40px;
	font-size: 14pt;
	text-align: right;
}

.footer-text {
	width: 300px;
	margin: 20px 10px 20px 10px;
	text-align: right;
	position: relative;
	top: 180px;
}

.footer-lamp {
	margin-left: 10px;
	height: 0;
	width: 0;
	overflow: visible;
	position: relative;
	z-index: 1;
}

.footer-logo {
	clear: right;
	width: 400px;
	margin-left: 10px;
	position: relative;
	left: 110px;
	top: 40px;
	z-index: 2;
}

.footer-logo-text {
	font-size: 14pt;
	position: relative;
	top: 20px;
	left: 10px;
}

.footer-munilogo-image {
	margin: 10px;
	height: 70px;
	width: 70px;
}

.footer-lamp-image {
	height: 204px;
	width: 291px;
	position: relative;
	bottom: -40px;
}

.menu-ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.menu-ul a {
	border-style: solid;
	border-color: rgb(204,204,204);
	border-width: 0 0 0 5px;
	padding: 0 0 0 10px;
	margin: 1px 0 1px 0;
	color: rgb(204,204,204);
	height: 36px;
	line-height: 36px;
	font-size: 14pt;
	font-weight: bold;
	display: block;
}

.menu-ul a:hover {
	border-color: rgb(0,39,118);
	color: rgb(0,39,118);
	text-decoration: none;
}

.block_2x1 {
	display: block;
	width: 620px;
	height: 300px;
	margin: 10px;
	background-color: rgb(224,224,224);
	background-position: 0 0;
}

.block_1x1 {
	display: block;
	width: 300px;
	height: 300px;
	margin: 10px;
	background-color: rgb(224,224,224);
	background-position: 0 0;
}

.block_1x1_halves {
	display: block;
	width: 300px;
	height: 300px;
	margin: 10px;
	background: none;
	text-align: center;
}
.block_1x1_halves h1 { margin: 0; }

.block_1x1:hover { background-position: 300px 0; }
.block_2x1:hover { background-position: 620px 0; }

.left { float: left; }
.right{ float: right; }
.back_2x1_c { background: url("../images/block_2x1_c.png"); }
.back_1x1_a { background: url("../images/block_1x1_a.png"); }
.back_1x1_b { background: url("../images/block_1x1_b.png"); }
.back_1x1_c { background: url("../images/block_1x1_c.png"); }

.sub-block_half1 {
	display: block;
	background-color: rgb(224,224,224);
	background: url("../images/block_1x05_a.png");
	height: 90px;
	width: 260px;
	padding: 30px 20px 20px 20px;
}
.sub-block_half1:hover { background-position: 300px 0; }

.sub-block_half2 {
	display: block;
	background-color: rgb(224,224,224);
	background: url("../images/block_1x05_b.png");
	height: 90px;
	width: 260px;
	padding: 30px 20px 20px 20px;
	margin-top: 20px;
}
.sub-block_half2:hover { background-position: 300px 0; }

.bold { font-weight: bold; }
.center { text-align: center; }

a {
	text-decoration: none;
	color: rgb(42,42,42);
}

.link { color: rgb(0,39,118); }
.link:hover { text-decoration: underline; }

.footer-logo a:hover { text-decoration: underline; }
a img { border: none; }

h1, h2, h3 { color: rgb(0,39,118); }

h1 { font-size: 175%; margin: 0 0 0.5em 0; }
h2 { font-size: 125%; margin: 1em 0 0.5em 0; }
h3 { font-size: 125%; margin: 0; }
p { margin: 0.5em 0 0.5em 0; }

.image_1x1 {
	width: 300px;
	height: 300px;
	margin: 0 0 20px 0;
}

.image-margin-left { margin-left: 20px; }
.image-margin-right{ margin-right: 20px; }
.clear { clear: both; }

.sub-block_picture {
	display: block;
	height: 50px;
	width: 260px;
	padding: 20px;
	margin-top: 210px;
	background-color: rgba(255,255,255,0.6);
}

.block_1x1:hover .sub-block_picture { background-color: rgba(255,255,255,0.8); }
.sub-block_2x1_text {
	display: block;
	height: 260px;
	width: 580px;
	padding: 20px;
}
.sub-block_1x1_text {
	display: block;
	height: 260px;
	width: 260px;
	padding: 20px;
}

.back_postlova { background: url("../images/postlova.jpg"); }
.back_drazan { background: url("../images/drazan.jpg"); }
.back_tyc { background: url("../images/tyc.jpg"); }
.back_drabek { background: url("../images/drabek.jpg"); }
.back_ukrop { background: url("../images/ukrop.jpg"); }
.back_novakova { background: url("../images/novakova.jpg"); }
.back_pribyla { background: url("../images/pribyla.jpg"); }
.back_slam1 { background: url("../images/slam1.jpg"); }
.back_slam2 { background: url("../images/slam2.jpg"); }
.back_slam3 { background: url("../images/slam3.jpg"); }